.decBtn,
.incBtn {
  cursor: pointer;
  margin: 0 10px;
}
.removeBtn {
  cursor: pointer;
}
.totalSection {
  display: flex;
  justify-content: space-between;
}
.customBadge {
  background-color: white;
  border-radius: 5px;
  padding: 0px 5px;
  color: black;
  font-size: 14px;
  margin-left: 5px;
}
